OCI_USER_OCID=ocid1.user.oc1..
OCI_TENANCY_OCID=ocid1.tenancy.oc1..
OCI_FINGERPRINT=xx:xx:xx:..
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..
OCI_SUBNET_ID=ocid1.subnet.oc1.ap-chuncheon-1..
OCI_IMAGE_ID=ocid1.image.oc1.ap-chuncheon-1.aaaaaaaa7atm6fsy4rmrpol3ryqjb5faay6raehwlmhvsbe6tp7pgeopb23a
OCI_SSH_PUBLIC_KEY=ssh-rsa AAAAB3...
